[2013-05-19 11:45] evernat opened #2 "mvn grails:maven-war doesn't work without explicit net.bull.javamelody:javamelody-core dependency"
Moved from https://code.google.com/p/javamelody/issues/detail?id=284

I'm trying to use grails-melody:1.13 Grails plugin with maven. I have defined plugin in pom.xml.
mvn -Dgrails.env=dev grails:maven-war throws an exception:
GrailsDataSourceBeanPostProcessor.groovy: 3: unable to resolve class net.bull.javamelody.JdbcWrapper

I can fix it by adding net.bull.javamelody:javamelody-core explicitly:

[2013-05-19 12:18] evernat opened #4 "Exceptions in grails melody plugin with some particular service parameter definitions"
Moved from https://code.google.com/p/javamelody/issues/detail?id=165

What steps will reproduce the problem?
See http://groups.google.com/group/javamelody/browse_thread/thread/130738bdfc5a50e8 and the end of http://jira.grails.org/browse/GPMELODY-1

What is the expected output? What do you see instead?
The services should be executed like when grails melody plugin is not installed. Instead, there

[2015-01-05 01:22] satan1999 opened #21 "Didnt trace the spring bean"
Hi There

I put @net.bull.javamelody.MonitoredWithSpring into one of my helper class ( initialized by spring in resource.groovy ) and one controller class

But i didn't see any trace of them in Statistics spring.

Just wondering if i did the right way

Cheers
Wallace

[2015-01-05 05:43] evernat commented on #21
If you want to use @net.bull.javamelody.MonitoredWithSpring, you need to add net/bull/javamelody/monitoring-spring.xml in your Spring's context as said at https://code.google.com/p/javamelody/wiki/UserGuide#9._Business_facades_%28if_Spring%29

[2015-01-11 14:00] evernat commented on #21
Information given and no response from the reporter so closing.

[2015-01-11 14:00] #21 closed

[2015-02-27 15:17] bajormar opened #22 "Exception when starting application"
Hello, I have built fairy simple grails project with 1 domain, and 1 controller, added plugins
plugins {
        // plugins for the build system only
        build ":tomcat:7.0.55"

        runtime ":hibernate4:4.3.6.1"

        // plugins for the compile step
        compile ":scaffolding:2.1.2"
        compile ":grails-melody:1.55.0"
}
and increased log level on javamelody in Config.groovy by ad

[2015-05-28 12:30] jglapa opened #23 "grails-melody-plugin is not compatible with tomcat7 from version 1.55 onwards"
It should be noted somewhere that the plugin from version 1.55 shouldn't be used with tomcat7!

If you have a controller action like that:

[code]

You will get an exception like that:

[code]

javamelody requires javax.servlet:javax.servlet-api:3.1.0.
 It was introduced with this bug fix : https://code.google.com/p/javamelody/issues/detail?id=436
Tomcat7 doesn't support this servlet spec!

[2015-05-31 22:05] evernat commented on #23
No, javamelody does not require javax.servlet:javax.servlet-api:3.1.0, at runtime, when used in a classic JavaEE webapp.
I use javamelody with Tomcat7 myself in a lot of webapps.

What seems to be is that the javamelody plugin for grails may require Servlet 3.1, in particular when org.codehaus.groovy.util.LazyReference.get is used on servlet streams, and probably this will be won't fix.
If other p

[2015-06-01 15:02] robertoschwald commented on #22
I have exactly the same issue with Grails 2.4.4 (Tomcat 7.0.55) and grails-melody:1.56.0 plugin.

[2015-06-02 22:10] psoares commented on #23
I have a similar (but different) problem, using tomcat 7, Java 8, servlet spec 3.0, and plugin version 1.55 or 1.56, similar download code.
My problem seems related to spring security though. Everything works if I use plugin version 1.54.

Here is my stacktrace, in case that can help... :

[code]

[2015-06-08 09:38] wschaef opened #24 "AGPL License in dependencies"
The plugin has 3 dependencies. One of the them (compile ("com.lowagie:itext:2.1.7") ) is under AGPL license. That means, that the plugin itself has to be under AGPL license too.
There are two options for solution:
1. remove itext dependency
2. make the license for plugin AGPL (will make this great plugin unusable for closed source developerst)

[2015-06-08 12:36] evernat commented on #24
Yes the plugin has a dependency on "com.lowagie:itext:2.1.7" (iText v2.1.7).
And no, it is not under AGPL, because "com.lowagie:itext:2.1.7" is under MPL or LGPL at your choice.

iText v5 and later are licensed under commercial OR AGPL as said at:
http://itextpdf.com/pricing
or https://repo1.maven.org/maven2/com/itextpdf/itextpdf/5.5.6/itextpdf-5.5.6.pom

But iText v2.1.7 is licensed under MPL, or

[2015-06-08 19:40] wschaef commented on #24
OK
Thank you for the answer!

[2015-06-08 19:40] #24 closed

[2015-07-28 06:28] dpilafian opened #25 "Add Grails 3 support and publish to Bintray"
It would be helpful to have the JavaMelody Grails Plugin listed at:
   * https://bintray.com/grails/plugins

I was able to get the plugin to download by adding the dependency to the build file:

**build.gradle**

    compile "net.bull.javamelody:javamelody-core:1.56.0"

However, a 404 results when attempting to open the console:

   * [http://localhost:8080/monitoring](http://localhost:8080/monito

[2015-07-29 12:41] evernat commented on #25
It seems that there is an [upgrade plugin doc](http://grails.github.io/grails-doc/latest/guide/upgrading.html)

For 404 on http://localhost:8080/<YourContext>/monitoring, I suppose that something with filters does not work in GrailsMelodyGrailsPlugin.groovy with Grails 3.

A pull request would be great.

[2015-08-26 09:53] fedotxxl commented on #22
+1

[2015-09-03 10:05] MLoenhardt commented on #23
After upgrrading from 1.53 to 1.56 or 1.57 we have the same issue inside IntelliJ and with the deployed version on tomcat 7.0.53

[2015-09-08 10:41] geektortoise opened #26 "GrailsMelodyConfig override external configuration ?"
Hello, I have the following problem.

In my GrailsMelodyConfig.groovy file, I have this line

I had some print in the GrailsMelodyUtils to have

        println "TEST CONFIG MELODY"
        println "config.javamelody.disabled"
        println config.javamelody.disabled
		try {
			config.merge(new ConfigSlurper(Environment.current.name()).parse(classLoader.loadClass('GrailsMelodyConfig')))

[2015-09-26 16:11] sergiomichels commented on #25
```doWithWebDescriptor``` is not available anymore, so we need to convert it to [the Spring Boot way](http://stackoverflow.com/questions/26639475/how-to-set-context-param-in-spring-boot).

I will try to work in this migration on my free time. If I finish it, could I just make a pull request to master or should a branch be created to Grails 3?

[2015-09-26 19:12] evernat commented on #25
I think that a pull request is ok, since I don't plan to maintain two version in parallel.

About the Spring Boot way, you can see an example of javamelody in Spring Boot here:
https://github.com/javamelody/javamelody/blob/master/javamelody-for-spring-boot/src/main/java/hello/JavaMelodyConfiguration.java

[2015-09-28 03:44] sergiomichels commented on #25
Thanks for the link, the filter worked! I'm almost done with a first version, just need more tests to confirm that I didn't break any feature.

[2015-09-29 03:19] sergiomichels commented on #25
Found the first difference. In Grails 2.x ```MonitoringProxy.getSpringCounter().isDisplayed()``` returns ```true``` but not in Grails 3.x.

[2015-10-02 12:22] evernat commented on #25
The call to SPRING_COUNTER.isDisplayed() in GrailsMelodyGrailsPlugin.groovy should be changed as part of PR #28, if it is the problem here.

[2015-10-08 12:54] hardyrex commented on #22
I have the same issue with Grails 2.5.1 Tomcat 8.0.22 and grails-melody:1.57.0 on win64

[2015-10-14 16:01] yspotts commented on #22
Try deleting the directory specified in the exception. Seems to have serialized some classes that cannot be deserialized (possibly from an older version).

[2015-10-22 22:46] sergiomichels commented on #25
Yep, #28 fixed it.

[2015-11-01 14:50] deanguyton commented on #23
After the first time usage of the plugin ":grails-melody:1.57.0" I discovered that our retrieval of Facebook images started to fail on our site with the exact exception indicated by jglapa in the beginning of this thread. Downgrading to ":grails-melody:1.53.0" has resolved this issue so thanks to jglapa and MLoenhardt for pointing this out as the plugin itself is extremely useful.

[2015-11-01 15:01] jtrancas commented on #23
I'm having the same issue as described by @psoares on grails 2.5.1, grails melody 1.57.0 and tomcat 7.0.55, it looks like this error is caused because getOutputStream() is being called multiple times, one when the data is written to the stream and then again to render the error page, because something is causing an exception in the write process call, but if I try catch and print the exception I'm

[2015-11-24 01:11] sergiomichels commented on #25
@dpilafian can you try my snapshot? https://github.com/sergiomichels/grails-melody-plugin

[2015-12-17 09:37] flxtr opened #29 "GrailsMelodyConfig: System.properties missing"
Not sure if it is a GrailsMelody or general Grails issue.

# Use Case

I want to use `-Dsystem_property` arguments in GrailsMelodyConfig.

## Example
[code]

I would now expect Grails/Java-Melody to use whatever I pass as `-DstorageDir` as its storage directory.

But `System.properties['storageDir']` seems to be not present while GrailsMelodyConfig is initialized.

# Steps to reproduce

Step 1. Cr

[2015-12-17 10:03] evernat commented on #29
I do not know why you can't read by yourself a system property you have added.

Anyway, you can simply add a system ```javamelody.storage-directory=/media/tmpfs``` and remove ```javamelody.'storage-directory'``` from GrailsMelodyConfig.groovy.
javamelody will read the system property javamelody.storage-directory by itself.

[2015-12-17 10:03] #29 closed

[2015-12-17 14:04] flxtr commented on #29
Hmkay. The closing is a little bit unsatisfactory, since it’s still a bug (reproducible with any system, servlet container and grails app I  could get my hands on), that any context (java-System, Spring-Context, Grails-Application, actually not just the system properties) is missing during GrailsMelodyConfig initialization. But—like I said—I’m not sure if your bug or a Grails bug.

But due to your

[2015-12-22 16:38] akozel commented on #25
Will that appear in bintray.com? What should we do to install the plugin at grails 3? Help.

[2016-01-25 13:30] abozas commented on #23
:+1:

Exactly the same problem as described by @jtrancas.

We can see in release notes of 1.55.0 use of servlet 3.1 :
fix issue 436: implement Servlet 3.1 new methods (JavaEE 7), in FilterServletOutputStream and others.

This can not be linked to this problem ?

My stacktrace :

[code]

My code in controller :

[code]

Downgrading also to 1.54.0 to solve this problem...

[2016-03-03 15:47] odimou opened #30 "Getting grails melody work with grails 3"
Hello,
I tried to install with adding the exist lines to build.gradle.
`
compile "net.bull.javamelody:javamelody-core:1.59.0"`
`
compile "org.grails.plugins:grails-melody:1.59.0"
`
I'm getting error on resolving dependencies for the grails-melody plugin. Any idea? I'm using grails 3.0.10.
Thanks

[2016-03-21 20:01] sergiomichels commented on #25
Download as zip and do an local install in your maven, then it will be available to you.

[2016-03-21 20:02] sergiomichels commented on #30
Please check https://github.com/javamelody/grails-melody-plugin/issues/25, can you help us with tests?

[2016-03-30 10:22] rahulcse1 opened #32 "securing monitoring url with spring security core not working with latest version of melody."
I know this is old question but i think it's not working.
I have just installed melody in my grails app and i am using latest version of melody.
But i am not able to guide my monitoring url. Because this issue was fixed it's should work without modifying web.xml.
I can see loadAfter and getWebXmlFilterOrder() in GrailsMelodyGrailsPlugin.groovy so it should work.
Could you please let me know if am

[2016-03-31 05:26] #32 closed

[2016-04-04 19:20] akozel commented on #25
thank you. I managed to install that. Please add that to official repository.

Also tere s small guide how to install melogy.
1. [download zip](https://github.com/sergiomichels/grails-melody-plugin)
2. add to plugins folder the '.gradle' and 'gradle' folders (you can get it from yours proj)
3. go to plugns folder via console and run gradlew.bat install
4. Now plugin installed into your maven. For

[2016-05-21 05:33] sergiomichels commented on #25
Plugin [uploaded to Bintray](https://bintray.com/sergiomichels/plugins/grails-melody-plugin/view)

Waiting now to see it appears in the official repository (request sent).

[2016-05-26 17:24] #30 closed

[2016-05-26 17:24] #25 closed

[2016-06-21 18:03] ctoestreich opened #35 "Views collide with application and override layout and gsps"

[2016-06-21 18:28] #35 closed

[2016-08-09 13:36] purpleraven commented on #23
same problem with grails 2.4.5

[2016-08-22 03:03] rpalcolea opened #38 "Grails 3.x - Monitoring page accessible event with Spring Security Core configured"
Hi guys

I'm using the latest Grails `2.x` version of the plugin `1.59.0`

I tried to secure the `monitoring` endpoint with Spring Security without success as follows:

[code]

and also I tried

[code]

Am I doing something wrong? Is this a known bug?

Thanks

[2016-08-31 14:41] beechovsky commented on #22
Has anyone attempted to suggestion above?

[2016-10-01 22:12] evernat opened #39 "Release 1.62.0"
@sergiomichels
Can you release 1.62.0 from master to bintray?
Thanks

[2016-10-07 14:16] sergiomichels commented on #39
Sorry, I totally missed it :\

I will do this tomorrow

[2016-10-09 17:36] evernat commented on #39
Done: https://bintray.com/sergiomichels/plugins/grails-melody-plugin
(I didn't received the notification)

[2016-10-09 17:36] #39 closed

[2017-01-10 09:52] purpleraven opened #40 "Sometimes Content-Type header missing"
With plugin version 1.62 sometimes Content-Type header missing for views without layout
Usually, a response has:

But for some tires of same page loading -- it's missing

I have tried to add to view following code -- no result

`<%@ page contentType="text/html;charset=UTF-8" %>`

After removing plugin everything works well

Grails version 3.1.14

[2017-01-11 11:29] demon101 commented on #40
sorry, bug was produced not by plugin

[2017-01-11 12:57] evernat commented on #40
ok, thanks

[2017-01-11 12:57] #40 closed

[2017-04-10 09:13] ferasodh opened #41 "How to change url from /monitoring to /app-monitor"
Is it possible to change the java melody url from /monitoring to /app-monitor or any other url? How can I do that?

Thanks

[2017-04-10 12:57] evernat commented on #41
Yes, it's possible. You need to use the javamelody parameter `monitoring-path` for that.

For the grails-melody-plugin, you can add in your grails-app/conf/application.yml:
[code]

[2017-04-10 12:57] #41 closed

[2017-06-22 20:30] tvirtualw opened #42 "grails-melody-plugin is not compatible with Grails 3.3"
Grails 3.3 has updated dependencies to Spring Boot 1.5.3 as per http://docs.grails.org/3.3.0.M2/guide/introduction.html#dependencyUpgrades.

The packages for FilterRegistrationBean and ServletContextInitializer have changed in the new Spring Boot version which causes compilation errors in MelodyConfig.groovy.

[2017-06-28 15:54] hugheba opened #43 "Plugin breaks Grails 3.2.11"
If you create a fresh Grails 3.2.11 project and add the dependency

`runtime 'org.grails.plugins:grails-melody-plugin:1.67.0'`

You'll get errors with Taglibs.

I created a simple view with a g:link and am getting this error.

`2017-06-28 11:46:53.983 ERROR --- [nio-8972-exec-1] .a.c.c.C.[.[.[.[grailsDispatcherServlet] : Servlet.service() for servlet [grailsDispatcherServlet] in context with path

[2017-06-29 23:45] evernat commented on #42
After some digging, spring boot 1.4 is used in grails since grails 3.2:
http://docs.grails.org/3.2.0/guide/upgrading.html#upgrading31x
And the concerned classes were moved from `org.springframework.boot.context.embedded` to `org.springframework.boot.web.servlet` in spring boot 1.4:
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-1.4-Release-Notes

If we suppose against our will tha

[2017-06-30 19:54] tvirtualw commented on #42
I agree that there is the issue of compatibility with older Grails versions.
To make users of old and new Grails versions happy the grails-melody-plugin would have to be maintained in different versions but each always referencing the latest JavaMelody version. Not sure if that is feasible.

When I look at the Grails 2 plugin of grails-melody, it stops at version 1.59.0. So it seems the approach o

[2017-07-01 20:48] evernat commented on #43
Sorry, I do not reproduce the issue.
By using the sample project at https://github.com/evernat/grails-ssl it works correctly with Grails 3.2.11 and Java 1.8. https://localhost:8443/ and https://localhost:8443/monitoring are OK.
What would cause this sample project to break?

[2017-07-01 21:58] evernat commented on #42
Thanks for the issue.
It's fixed by 003efee and it will be released in 1.68.0

[2017-07-01 21:58] #42 closed

[2017-07-01 22:10] evernat commented on #42
By the way, we probably don't want to maintain 2 branchs of the plugin.

[2017-07-05 12:48] jglapa commented on #43
@evernat just add `<g:link controller="test">foo</g:link>` to index.gsp and it will start throwing the exception

[2017-07-05 12:52] jglapa commented on #43
This was also raise by me in grails repo: https://github.com/grails/grails-core/issues/10715

[2017-07-09 18:42] demon101 commented on #43
I got the same bug.
Can be reproduced by line in  BootStrap.init:
**"some text".encodeAsLink()**

[2017-07-09 18:46] demon101 commented on #43
@graemerocher suggested in https://github.com/grails/grails-core/issues/10715:

[2017-07-09 23:13] evernat commented on #43
As said in https://github.com/grails/grails-core/issues/10715#issuecomment-313971674, it seems to be caused by a regression between groovy 2.4.8 and groovy 2.4.9.
To workaround the issue, you may want to add `compile 'org.codehaus.groovy:groovy-all:2.4.8'` in the dependencies of the build.gradle file of your app.

[2017-07-10 06:10] jukin-jerry opened #44 "Outdated import in MelodyInterceptorEnhancer: net.bull.javamelody.Parameters"
Latest commits to master for upgrade to javamelody-core:1.68.0 misses one deprecated and relocated import:

`net.bull.javamelody.Parameters`
is now
`net.bull.javamelody.internal.common.Parameters`

Will provide a pull request.

[2017-07-10 06:17] demon101 commented on #43
@evernat using groovy 2.4.8 with grails 3.2  -- bad idea. For example, performance of groovy 2.4.10 has been improved by 15-20 %.

Do you plan to fix the plugin?

[2017-07-10 06:22] jukin-jerry commented on #44
Created https://github.com/javamelody/grails-melody-plugin/pull/45

[2017-07-10 06:26] jukin-jerry opened #46 "grails-melody-plugin must load after grails-quartz plugin to allow full reconfiguration of the scheduler thread"
If the grails-melody-plugin loads before the grails-quartz plugin, any re-configurations of the quartz scheduler thread in the Grails application do not happen when melody initializes, which results in the default scheduler thread always loading with the default configuration out of the box.  If the Grails application wants to have a different scheduler thread configuration, two are created, causi

[2017-07-10 06:29] jukin-jerry commented on #46
https://github.com/javamelody/grails-melody-plugin/pull/47

[2017-07-10 06:41] graemerocher commented on #43
I recommend reporting the issue to the Groovy issue tracker https://github.com/grails/grails-core/issues/10715

[2017-07-10 06:52] evernat commented on #44
merged

[2017-07-10 06:52] #44 closed

[2017-07-10 19:58] evernat commented on #46
merged

[2017-07-10 19:58] #46 closed

[2017-07-12 10:55] jglapa commented on #43
@evernat would it be possible to test the following:
* upgrade the current plugin to grails 3.2.11 (it's 3.1.6 right now https://github.com/javamelody/grails-melody-plugin/blob/master/gradle.properties#L1)
* build a snapshot
* test that snapshot version with a currently failing example project

Perhaps the issue goes away if the plugin itself is build by groovy > 2.4.9 ?

[2017-07-12 23:50] evernat commented on #43
@jglapa @sergiomichels
It seems that building the grails-melody-plugin with the following in gradle.properties of the plugin fixes this issue:
[code]
But I am not sure of what I was doing in the plugin for testing this. Sergio, could you check that this change in the plugin will fix the error displayed by the sample project: https://github.com/evernat/grails-ssl ?

[2017-07-14 14:44] bassmartin opened #48 "No value for key [org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy] bound to thread"
See https://github.com/grails/grails-core/issues/10675#issuecomment-315321643

[2017-07-14 14:53] evernat commented on #48
This issue can't be understood.
Please give a sample project to reproduce the issue.

[2017-07-14 14:55] bassmartin commented on #48
https://github.com/bassmartin/example-newSession-fail

[2017-07-14 14:56] bassmartin commented on #48
Issue happens when there is a `withNewSession{}` call

[2017-07-15 00:03] evernat commented on #48
I see no error like you said.
When testing the app, the only thing is:
Condition not satisfied:
true == false
     |
     false
	at migration_grails_3_2_11.TestNewSessionSpec.test something(TestNewSessionSpec.groovy:20)

Closing the issue as invalid.

[2017-07-15 00:06] bassmartin commented on #48
I'll check Monday

[2017-07-21 19:48] artemik opened #49 "HTTP 302 is not logged"
Grails: 3.2.11
Plugin: 1.67.0

When using spring security core, unauthorized access results in HTTP 302 redirecting to a login form page. I can't see this HTTP 302 anywhere in the java melody monitoring page being logged, only the login page.

Is it possible to turn it on somehow?

[2017-07-22 12:23] evernat commented on #49
Yes, the melody filter intercepts requests after spring-security-core. See here:
https://github.com/javamelody/grails-melody-plugin/blob/master/src/main/groovy/grails/melody/plugin/GrailsMelodyPluginGrailsPlugin.groovy#L16
So it's normal that the requests which are not allowed by spring-security-core are not seen by the melody plugin.
It's done like that so that you can protect the access to the m

[2017-07-22 12:23] #49 closed

[2017-07-24 06:16] jglapa commented on #43
@evernat https://github.com/grails/grails-core/issues/10715#issuecomment-317304931

[2017-07-24 07:40] artemik commented on #49
Is it possible to decouple monitoring and monitoring page functionalities so that they are hit in the following order:
 1) monitoring
 2) spring-security (restricts access to monitoring page)
 3) monitoring-page
?
It's important because now if your login page is being attacked by brute force, you won't see it. If your site is being checked by bots scanning for common admin panel addresses, you won

[2017-07-24 23:36] evernat commented on #49
It can't be decoupled in the grails plugin.
And the monitoring page can't be before the spring-security filter, because it would be a security regression.

But you can change the order of the filters between the melody filter and the spring-security filter. For that, it is needed to call setOrder(-200) on the result of the [melodyFilter()](https://github.com/javamelody/grails-melody-plugin/blob/ma

[2017-07-25 10:24] artemik commented on #49
Thanks, I'll look into that.

[2017-08-01 07:44] jukin-jerry commented on #43
Created https://github.com/javamelody/grails-melody-plugin/pull/50

[2017-08-01 11:35] jglapa commented on #48
I'm also affected by this issue but cannot provide a working reproducible example. The problem goes away once I remove the plugin ( did it for now also due to #50).
I know this is not helpful but the issue exists and perhaps shouldn't be immediately closed.
I would suggest leaving it open and request for a reproducible example.

[2017-08-01 12:17] demon101 commented on #48
@bassmartin could you help with example, please

[2017-08-01 12:55] bassmartin commented on #48
@demon101 on it

[2017-08-01 13:01] bassmartin commented on #48
@evernat @demon101 see https://github.com/bassmartin/example-newSession-fail (same project as before).

The test to check is : migration_grails_3_2_11.TestNewSessionIntegrationSpec

[2017-08-02 02:45] jukin-jerry commented on #43
The Pull Request (50) above does indeed fix the problem described in this ticket under Grails 3.3.0, but a new problem emerges: now melody does not load at startup.  The only other change is upgrading the java-melody-core dependency to 1.68.1.

Here are the messages at application startup, indicating the problem.

2017-08-02 02:42:16.422  INFO 11581 --- [  restartedMain] ationConfigEmbeddedWebAppl

[2017-08-02 22:23] evernat commented on #48
@jglapa
I see no point to leave an issue open when the provided project at that time did not reproduce the issue.
As an author on my free time, it takes enough time to test issues without having to negotiate with reporters.

@bassmartin
Thanks for the updated sample project. Will see that.

[2017-08-03 09:57] jglapa commented on #48
@evernat Your opensource contribution is much appreciated.
I just really would like that issue to be fixed.  With you closing it I cannot track it any more.
I won't be notified about any new issues concerning it.

[2017-09-27 03:21] chery-qualset-hcd-ca-gov commented on #42
Can we get the 1.69.0 version up on
https://repo.grails.org/grails/core/org/grails/plugins/grails-melody-plugin/?
The lastest one there 1.67.0 as of Sep 26. 2017.

[2017-10-24 02:10] bassmartin commented on #48
Removing `bean.targetDataSource = JdbcWrapper.SINGLETON.createDataSourceProxy(bean.targetDataSource)` makes the test of my sample project work.

As stated by Graeme :

Any idea how we could fix that?

[2017-10-24 16:29] bassmartin commented on #48
@sergiomichels
I reverted back to the BeanPostProcessor way to listen to dataSources. I see SQL queries loggued and no issue with LazyDataSource...

Is the BeanPostProcessor now the correct way to do this? Why was this changed back then?

https://github.com/javamelody/grails-melody-plugin/commit/ce1ca5b461ec4b17f1d7a086356962849ce0722b

[2017-10-24 17:32] sergiomichels commented on #48
@bassmartin We have the description of the original bug [here](https://github.com/javamelody/grails-melody-plugin/issues/3). If now it's working now (maybe something changed in Grails core?) I think we can revert it. Could you create a pull request for it?

[2017-10-24 17:35] bassmartin commented on #48
I tested with only one DataSource (the default one) and it's working.
I have no idea if this is working with multiple datasources.

[2017-10-25 22:16] evernat commented on #43
PR #50 is merged. Thanks to all and in particular to @graemerocher and @bassmartin.

[2017-10-25 22:16] #43 closed

[2017-10-29 16:53] #48 closed

[2018-01-10 12:20] bassmartin opened #52 ""Connection is closed" issue when Tomcat recreates connection"
After having network issues between my Grails app and the Postgres DB on AWS, JDBC connections needed to be recreated by Tomcat. It did so, but then my app would somewhat end up with connections that are closed when executing transactions afterward.

After a long investigation, the issue was not happening when removing the JavaMelody plugin from my app. So I dug a bit to find what was happening an

[2018-01-16 13:05] Relaximus opened #53 "Exception: Connection has already been closed"
With update to the 1.70.0 version of Melody. We avoided the #48 but it seems that we have got the jdbc connections leakage.

From our log:

Caused by SQLException: Connection has already been closed.
->>  197 | invoke           in net.bull.javamelody.JdbcWrapper$ConnectionInvocationHandler

We suppose, that we catch the bug here, because we are using pooled option in our Grails app datasource conf

[2018-01-16 20:02] sergiomichels commented on #53
@bassmartin Could you check it?

[2018-01-16 20:06] bassmartin commented on #53
@sergiomichels see #52
I think adding 'excludes' like I wrote in my ticket will fix this issue too.

[2018-01-17 09:23] Relaximus commented on #53
@bassmartin That is interesting, because our workaround is other way around to exclude unproxied bean and it works.
It seems that the problem, when Melody wrapper wraps itself twice. What do you think?

[2018-01-18 16:49] bassmartin commented on #53
I think it really has to do with what you say "re-wrapping".

The test I was doing is to run my app, close my wi-fi (so DB was not accessible anymore), wait for tons of error to show, reconnect the wifi, expect the background jobs to work a expected and the UI to show queried data without any error.

Only proxying the 'unproxied' data sources would pass this test.

But this morning, in an integrat

[2018-01-18 18:58] bassmartin commented on #53
I finished doing the same test with 'dataSource' being the only one not excluded from being proxied and it seem to be working...

I will push this to our integration env. to see if it's working there too.

[2018-01-18 19:53] bassmartin commented on #53
I just tried only proxying 'dataSourceLazy' and it seems to pass my test. I've done it twice. I will continue to play with this.

resources.groovy
`    // Recreate the bean with excluded datasources
    springDataSourceBeanPostProcessor(SpringDataSourceBeanPostProcessor) {
        excludedDatasources = ['dataSourceUnproxied', 'dataSource']
    }`

[2018-01-31 14:46] bassmartin commented on #53
The fix is still in our integration environment. So far so good.

[2018-02-23 15:55] beechovsky opened #55 "1.70 throws exception in Grails 3.1.12 application"
NOTE: The same issue occurs for 1.69.0

Grails 3.1.12 deployed to Tomcat 8.0.

Switching between compile and runtime dependency doesn't affect the outcome.

I'm updating the plugin version from 1.67.0 to 1.70.0 after doing the same with my central collect server. However, I get the following error:

[code]

[2018-03-11 19:16] MiguelAngel82 opened #56 "Showing SQL connections in "Statistics sql""
Hi everyone.

I've been trying the plugin with a simple Grails 3 app but I cannot see SQL statistics by default when I access to "monitoring" page.

I've tried some suggested workarounds like [this](https://stackoverflow.com/questions/9809805/grails-melody-plugin-no-longer-logs-sql-calls-as-of-grails-2-0) and [that](http://dmitrijs.artjomenko.com/2012/09/javamelody-sql-monitoring-with-grails.html)

[2018-03-11 20:16] MiguelAngel82 commented on #56
This responds myself:

Looking on the [JDBC JavaMelody documentation](https://github.com/javamelody/javamelody/wiki/UserGuide#7-jdbc), I've seen that if you add the driver class to `net.bull.javamelody.JdbcDriver` it works. So this configuration, in `application.yml` works:

[code]

But I'm not sure if this is the best approach or it could work with the `javamelody.datasources` property mentioned

[2018-03-21 09:10] kuceram commented on #38
I'm having this issue as well even with new Grails.
Grails: 3.3.2
Grails Melody Plugin: 1.70.0
Grails Spring Security: 3.2.0

[code]

[2018-03-28 11:24] sergiomichels commented on #52
This is not duplicate of #53?

[2018-03-28 15:53] bassmartin commented on #52
Yes it iis

[2018-03-29 11:18] kuceram commented on #38
This error might be related to Spring Security plugin, see my issue https://github.com/grails-plugins/grails-spring-security-core/issues/537.

[2018-04-04 18:14] sergiomichels commented on #2
Closing as this reference an old version of Grails and JavaMelody.

[2018-04-04 18:14] #2 closed

[2018-04-04 18:17] sergiomichels commented on #4
Closing since there's no update in this issue since 2013 :)

[2018-04-04 18:17] #4 closed

[2018-04-04 18:28] sergiomichels commented on #52
Closing since it's a duplicate issue.

[2018-04-04 18:28] #52 closed

[2018-04-04 18:30] sergiomichels commented on #26
@geektortoise Could you confirm if you have the same issue with the latest version of the plugin?

[2018-04-09 22:08] sergiomichels commented on #55
I've checked that this is due to #42, so since `1.69.0` Grails `3.2` is required because Spring Boot changed packages.

[2018-04-09 22:10] #55 closed

[2018-04-09 22:13] sergiomichels commented on #53
@bassmartin This fix is working for you, right? Could you open an PR?

[2018-04-10 19:31] sergiomichels commented on #38
@kuceram Can you provide a sample application? I've created one and it works fine, in fact, the page is protected by default. https://github.com/sergiomichels/grails-melody-security-example

[2018-04-11 17:09] sergiomichels commented on #23
Grails 2.x is not supported anymore, please open a new issue if you can replicate this with the latest version.

[2018-04-11 17:09] #23 closed

[2018-04-11 22:37] sergiomichels commented on #53
I've just created a sample app with latest Grails version and cannot see any sql statistics :(...

I will try this config with `excludedDatasources` tomorrow.

[2018-04-11 23:17] sergiomichels opened #59 "Create Functional / Integration Test for DataSource Wrapping"
This feature is heavily dependent in Grails version and how GORM creates DataSources and wrappers. We should have a functional test with some simple entities (and save some instances)  proving that this plugin were able to apply the wrapper correctly.

[2018-04-12 02:33] bassmartin commented on #53
The fix is working fine in my env. (Grails 3.2.x). I will create a PR if you still want it.

So we will need to create a new release line for Grails 3.3.x?

[2018-04-12 18:50] sergiomichels commented on #53
I think we can maintain one version but if it's Grails 3.3.x we will need to load a different BeanPostProcessor.    No need for PR, I will test it for both versions :)

[2018-04-12 18:53] sergiomichels commented on #56
Configuring the Java Melody JdbcDriver is an workaround and shouldn't be needed. The aim of this plugin is to configure all DataSources automatically.

What happens is that sometimes Grails change the way that this beans are declared and we need to adapt the plugin.

I opened issue #59, so we can improve the stability of the plugin by testing it on new versions of Grails.

[2018-04-12 18:53] #56 closed

[2018-04-16 22:07] evernat opened #60 "A guide to setup grails melody"
I have discovered a recent guide to setup grails melody.
Guide : http://guides.grails.org/grails-javamelody/guide/index.html
Source: https://github.com/grails-guides/grails-javamelody

We could add a link to this somewhere in [this page](http://plugins.grails.org/plugin/sergiomichels/grails-melody-plugin), which comes from [this file](https://github.com/javamelody/grails-melody-plugin/blob/master/

[2018-04-17 14:11] kuceram commented on #38
I switch logging of Grails Spring Security and I finally found the cause of the problem:
[code]

Spring security resolves `/monitoring` url to `/errors/notfound` as there is no MonitoringController (that's why Quartz Monitoring Plugin was working for me) and my `UrlMappings` looked like this:

[code]

[2018-04-18 17:03] sergiomichels commented on #38
@kuceram I think your issue is related to your default pattern rather than the absence of `MonitoringController`, because `AnnotationFilterInvocationDefinition` will always match your `notFound` action. You can try with any other url that doesn't match an controller.

I tested with my sample application and I didn't get the same result as you

[code]

But looking at url mappings documentation you

[2018-04-19 15:16] kuceram commented on #38
@sergiomichels this is exactly what I did. I was just super surprised that this brings security vulnerability to the app so easily without noticing.

[2018-04-22 10:53] sergiomichels commented on #38
@kuceram Well, I'm not sure if there's something to improve here, it's a documented Grails behavior (when using wildcard URL mappings).

Furthermore, I think that security is something that you definitely want to test in your application (for example, using functional tests) and this not working configuration would be found then.

I'm closing this one since it's not a bug, feel free to open an enh

[2018-04-22 10:53] #38 closed

[2018-04-22 11:03] sergiomichels commented on #55
For Grails 3.1 you can upgrade Melody version by excluding the dependency

[code]

[2018-04-26 21:26] beechovsky commented on #55
Hi Sergio, and thanks for the replies!

I tried what you mentioned above, and got the following error:

2018-04-26 17:21:42,290 - ERROR org.springframework.boot.SpringApplication - Application startup failed
java.lang.NoClassDefFoundError: org/springframework/boot/web/servlet/ServletContextInitializer
	at java.lang.Class.getDeclaredMethods0(Native Method)
	at java.lang.Class.privateGetDeclaredMeth

[2018-04-29 17:31] beechovsky commented on #55
Thanks again, @sergiomichels , for continuing to work on this!

However, 1.68 throws the following error (I don't think it exists):

Error Error initializing classpath: Could not find org.grails.plugins:grails-melody-plugin:1.68.0.
Searched in the following locations:
    file:/Users/me/.m2/repository/org/grails/plugins/grails-melody-plugin/1.68.0/grails-melody-plugin-1.68.0.pom
    file:/Users/me

[2018-05-08 19:03] bassmartin commented on #53
I recently upgraded to GORM 6.1+ and the fact that

is caused by GORM 6.1+, not Grails 3.3 per se (I'm still on Grails 3.2+)

[2018-06-19 02:45] bassmartin commented on #53
Any progress on this issue? Or do you have some pointers so I can try to implement something to get SQL monitored again? Thanks.

[2018-06-19 19:11] bassmartin commented on #53
I've put back the code in `GrailsMelodyPluginGrailsPlugin` that was there before switching back to `SpringDataSourceBeanPostProcessor`. I changed the `if` clause so it only wraps the `Lazy` datasource beans. SQL queries a monitored. I will check if after a while there are issues arising. (Grails 3.2.13 and Gorm 6.1.9).

`
  void doWithApplicationContext() {
        //Need to wrap the datasources h

[2018-06-29 15:28] bassmartin commented on #53
Still no issue and queries are logged.

[2018-07-04 21:38] sergiomichels commented on #53
Thanks @bassmartin, could you open an PR?

[2018-07-10 13:19] bassmartin commented on #53
I will today.

[2018-07-10 15:25] bassmartin commented on #53
See #61

[2018-07-12 20:46] bassmartin commented on #53
No, I'm no using JNDI.
I'm using Grails 3.2.13 and Gorm 6.1.9
Can you test your simple project with that?

[2018-07-12 20:51] bassmartin commented on #53
Might have to do with

We might need to add a check on the Grails version and proxy either 'dataSourceLazy' in Grails <= 3.2 or 'dataSource' in Grails >= 3.3 ?!?!

[2018-07-19 15:18] bassmartin commented on #53
I created #62 that first attempt 'Lazy' beans then fallbacks on 'dataSource' if no 'Lazy' found. So it should support Grails <=3.2 as well as Grails >= 3.3

[2018-07-19 17:36] sergiomichels commented on #53
Thanks @bassmartin, I've tested here and is logging sql info now.

[2018-07-19 17:36] #53 closed

[2018-08-06 20:09] bassmartin opened #63 "Service calls are not recorded"
I'm using JavaMelody in my Grails app that has also Vaadin. Service calls coming from Vaadin navigation are recorded as they should but I don't have any recording of Service calls done via Vaadin components (for example when calling a Service after clicking a button). Also, I do not have recording of calls done to my Controllers.

Any pointer to why I am in this situation?

Thanks.

[2018-08-06 21:43] bassmartin commented on #63
I partially fond the solution to my issue :
add `ExpandoMetaClass.enableGlobally()` at the beginning of the main() call in the Application.groovy class

This call was previously included in the `MelodyInterceptorEnhancer` class but was removed due to an issue between metaclass overrides done by Grails 3 and the fact calling this would reset every metaclass overrides. I'm still not sure, but I thin

[2018-08-07 01:53] bassmartin commented on #63
Here is a PR to enable back service call interceptors as they were working a while ago. I had only 5 services that were monitored before putting back the enable globally, now all of them are monitored again.

[2018-08-29 20:09] #63 closed

[2018-09-26 12:50] brischniz opened #65 "﻿﻿No value for key [org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy] bound to thread"
I tried to integrate the grails-melody-plugin-1.73.2 into a Grails-3.3.8 application but with some GORM interactions I got the following stacktrace:

[code]
It seems that Graeme Rocher investigated on that issue a while ago: https://github.com/grails/grails-core/issues/10675#issuecomment-315321643

[2018-10-10 16:05] sergiomichels commented on #65
@brischniz Could you provide a sample application with the issue? Probably it's related to #61.

[2018-11-08 21:08] bassmartin commented on #65
I confirm this is happening.

I'll try to investigate.

[2018-12-05 12:16] joemccall86 commented on #65
Were you by any chance successful in creating a sample application? It might be easier to lobby for some help if we can reproduce it reliably.

[2018-12-05 12:52] joemccall86 commented on #65
Added sample here: https://github.com/joemccall86/melody-sample

[2018-12-06 21:16] sergiomichels commented on #65
Thanks @joemccall86, I'll take a look at sample code.

[2018-12-07 00:55] sergiomichels commented on #65
I've created branch 65_no_value_for_key, I see issue even without `ExpandoMetaClass.enableGlobally()`. In this branch I'm creating a new integration test app so we can improve our regression suite and avoid this issues in future.

[2018-12-07 17:41] bassmartin commented on #65
Thanks Sergio! I just had a new baby so I don’t have much time right now ;-)

[2018-12-08 22:37] sergiomichels commented on #65
@bassmartin Congratulations on the birth of your baby! Enjoy this time :-)

[2018-12-09 18:03] #65 closed

[2018-12-18 15:47] kuceram opened #67 "Multiple datasource (default and quartz) logs quartz sql only"
Grails: 3.3.8
Grails Melody Plugin: 1.74.0

Having two data sources defined in `application.yml` I see only quartz (not the default one) sql queries in monitoring console. Interestingly enough on localhost it shows also `alter table` for default data source (not in production).

I've checked [GrailsMelodyPluginGrailsPlugin](https://github.com/javamelody/grails-melody-plugin/blob/master/plugin/src/

[2018-12-19 17:23] bassmartin commented on #65
When I use the latest release, I don't have any SQL queries monitored.

sql Statistics sql - 1 day

None

Do you all still have SQL queries monitored?

[2018-12-21 16:32] sergiomichels commented on #67
Hi @kuceram, could you please provide sample application with quartz ds? We can then add to the integration test suite and make sure that we fix this.

[2018-12-21 16:33] sergiomichels commented on #59
Created `app-integration-tests` as start point for covering DS wrapper feature.

[2018-12-21 16:33] #59 closed

[2018-12-21 21:12] bassmartin commented on #65
I installed a custom version with this code modified (removed the if `if (dataSource instanceof TransactionAwareDataSourceProxy) {` and it works for me on Grails 3.3.9 and GORM 6.1.11...

Why is that if required?

[code]

[2018-12-27 20:55] sergiomichels commented on #65
Which class is this for you? I think my initial idea was to make sure that we're dealing with two levels of encapsulation to reach the datasource (store - targetds - targetds) but I guess we can check if property with this name exists instead of using instance of.

[2019-01-02 16:02] bassmartin commented on #65
<img width="472" alt="screen shot 2019-01-02 at 10 54 49" src="https://user-images.githubusercontent.com/10145772/50600054-e2c87680-0e7d-11e9-92e4-b46df18bcb64.png">

[2019-01-02 16:09] bassmartin commented on #65
This might have to do with my configuration.

Here are some extracts :

[code]

[2019-01-02 16:57] bassmartin commented on #65
Since the code in org.grails.datastore.gorm.jdbc.connections.DataSourceConnectionSourceFactory#proxy is

[code]

I think we could replace `if (dataSource instanceof TransactionAwareDataSourceProxy)` by `if (dataSource instanceof DelegatingDataSource)` to support both types of proxy (since it's the superclass of both).

What do you think about that @sergiomichels ?

[2019-01-03 07:42] sergiomichels commented on #65
Yep, looks good. I think that probably there's an way to configure this for one specific integration test (instead of creating new project), can you take a look at Spring Security plug-in and see if it's using it? https://github.com/grails-plugins/grails-spring-security-core/tree/master/integration-test-app

[2019-01-14 23:11] kszymko opened #68 "Enhancing @Transactional service gives groovy.lang.MissingMethodException"
Grails 3.3.8 / JDK1.8.0_192 / Win OS

When adding new Service class:

[code]

and extending test from app-integration-tests like this

[code]

gives:

[code]

Looks like first argument's type **Class** makes all the troubles.
When switched to Object works OK and metaMethod is found in **MelodyInterceptorEnhancer**:

[code]

Does it look like a bug to you or is it documented somewhere
(NOT to use c

[2019-01-16 21:05] sergiomichels commented on #68
Hi Chris, we don't have documentation for supported method signatures but in my opinion we should try to support any signature.

Just by curiosity, does your service works with this signature if you're not using Melody plugin?

[2019-01-16 21:11] kszymko commented on #68
Hi Sergio,

yes it works fine, when Melody plugin is OFF.

I found this problem when I was refactoring legacy code and replacing method's parameters types from **def** to concrete types. When I switched **def** to **Class** my integration tests stopped working. When I turned OFF Melody it all worked fine even after refactoring.

[2019-01-19 13:45] sergiomichels commented on #68
So I was checking this behavior and looks like an issue (or maybe expected behavior?) with meta class.

Currently we rely on `metaClass.getMetaMethod(name, args)` to be able to invoke service methods and properly collect statistics. With your signature the generated method `$tt__findByName()` fails to be found, I also tried looping in list of all methods available and it's not there...

Without Gr

[2019-01-24 13:59] demon101 opened #69 "No sql query logs for grails 3.3.9 + melody plugin 1.74"
After update to grails 3.3.9 from 3.2 version melody sql log is empty

Can it be related to  https://github.com/javamelody/grails-melody-plugin/issues/65 ?

We are using only one standard data source with PostgreSQL DB.

JDBC connections shows 0.
![image](https://user-images.githubusercontent.com/1362920/51683370-fe8ceb80-1fe9-11e9-83f6-6c94c1e97e3d.png)

Usual tomcat JDBC pool used. During upgrad

[2019-01-24 14:53] demon101 commented on #69
problem was coused by
`runtime "org.apache.tomcat:tomcat-jdbc"`

[2019-01-24 15:11] demon101 commented on #69
As I can see, tomcat-jdbc is a part of a newly created grails 3.3 app
But for me, java melody sql stat not working with the dependency.

[2019-01-26 11:55] sergiomichels commented on #69
HI @demon101, you tried in an newly created app without changing anything? Would you be able to provide repo with sample app?

[2019-02-21 20:49] #69 closed

[2019-02-22 08:12] sergiomichels commented on #67
Can you try with latest version? I believe your main datasource will be wrapper.

[2019-03-14 15:21] virtualdogbert commented on #68
I too have just run into this error working on bug, found when upgrading to Grails 3.3.9. While I like Melody, for taking a look at performance, I've found, that leaving it on all the time can run into issues. It also have a tendency to breaking the debugger, so I often run with it off when running locally.

Another idea would be to look into compile-time metaprogramming, vs the runtime variety. P

[2019-03-14 17:44] virtualdogbert commented on #68
So after a little more investigation, this only seems to happen, when I have an @Transactional, on a method, that has a parameter of type Class. I don't know it that will help any though.

[2019-03-18 02:04] virtualdogbert commented on #68
Ok I started playing with it and converting to an AST might not be that hard. The only difficulty is getting the configuration to the AST, when in my experience, I've only been able to pull off by setting a system property in a custom compiler script.  So from the MelodyInterceptorEnhancer it looks like that just intercepts every call to methods in services, and adds a call to `SPRING_COUNTER.bind

[2019-05-15 08:20] sergiomichels commented on #68
@virtualdogbert Can you share a branch with your changes? Then I can take a look in your issue.

[2019-05-15 11:23] virtualdogbert commented on #68
@sergiomichels  Ok I'll gather up what I have tonight, push it to github, and send you links. Like I said the big thing I was missing from a testing stand point was how to get `SPRING_COUNTER.isDisplayed()` to be set true.

The only reason I hit you up on slack was because it had been over a month since I posted this, now it's two. Although I totally understand about being busy, I have to get back

[2019-05-15 20:36] sergiomichels commented on #68
@virtualdogbert There's a bug in `MelodyInterceptorEnhancer`, not sure if it was a change in Melody because plugin code is in this way since version for Grails 2.

Plugin mimics Melody's `MonitoringSpringInterceptor` and you can see how counter is initialized in this class:

[code]

[2019-05-15 23:17] virtualdogbert commented on #68
@sergiomichels So I put my idea for replacing the runtime programming with an AST Transform here:
https://github.com/virtualdogbert/grails-melody-plugin/tree/astEnhancer

I also created a test app here:
https://github.com/virtualdogbert/testMelody

I didn't make the AST configurable, at this point, I just commented out the runtime metaprogramming in the plugin and used the AST. However I still don

[2019-05-16 07:36] sergiomichels commented on #68
@virtualdogbert this interceptor class is not used by grails melody, the goal of runtime metaprogramming is to have same logic, so init from interceptor should be copied to plugin bootstrap.

[2019-06-04 17:55] gabivis opened #72 "Caches are not listed in the monitoring page"
I am using grails 3 with the following plugins
` compile 'org.grails.plugins:grails-melody-plugin:1.76.1'
    compile ('org.grails.plugins:cache-ehcache:3.0.0.M1')
    compile "org.grails.plugins:cache:5.0.0.RC1"
`
In grails 2, there was a cache section. This section is missing with the grails 3 version of the plugin.
I know that support for monitoring ehcache 3 has recently been added to javamelo

[2019-06-21 20:37] sergiomichels commented on #72
Hi Gabi, I can see that this feature is available in JavaMelody's current snapshot...

After release we can upgrade the dependency in Grails plugin but meanwhile you can override melody version in your build, something like (changing to snapshot):

[code]

[2020-05-22 13:07] hefberk opened #73 "Spring boot actuator management port not working as expected"
Grails version : 3.3.0

**build.gradle**
[code]

**application.groovy**
[code]

**application.yml**
[code]

try with and without context-path and monitoring path, the /monitoring endpoint works as expected but is always served on 8080 port...
The actuator is actually working as expected too.
Any help ?

[2020-05-23 00:27] evernat commented on #73
First, you are using grails-melody-plugin 1.70.0, but the latest release of the plugin is currently 1.80.0 (see https://github.com/javamelody/grails-melody-plugin#grails-melody-plugin).

Then, it seems to me that you have tried to apply the [javamelody-spring-boot-starter doc for management port](https://github.com/javamelody/javamelody/wiki/SpringBootStarter#configuration-in-case-of-management-po